*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul{
  list-style-type: none;
}

a{
  color:#fff;
  text-decoration: none;
}

.btn{
  padding: 15px;
  transition: 300ms;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
}

.btn:hover{
  background-color: #fff;
}

header{
  background-color: #0c2340;
  padding: 10px;
  position: relative;
}

.header-upper{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

header .upper-list{
  display: flex;
  align-items: center;
}

.upper-list ul{
  display: flex;
}
.upper-list li:hover{
  background: rgba(135, 207, 235, 0.199);
}
header ul{
  padding: 15px;
}

ul li{
  border-radius: 10px;
  padding: 10px 20px;
}

.log{
  display: flex;
  align-items: center;
  color: #fff;
  padding: 10px;
  padding-bottom: 3rem;
}

.log img{
  width: 100%;
}

nav{
  display: flex;
  background-color: white;
  position: absolute;
  right: 5%;
  width: 60%;
  bottom: -15%;
}

nav ul{
  display: flex;
}

nav a{
  color: #000;
}

.main-title{
  display: grid;
  grid-template-columns: 25rem auto;
  background-image: url('../images/feature-bg-1600.jpg.jpeg');
  padding: 2% 2%;
}

.name{
  color: #0c2340;
  font-size: 20px;
}

.main-title h1{
  color: #0c2340;
  font-size: 40px;
}

.left-title{
  padding: 20px;
  position: relative;
}

.left-title div{
  margin-top: 1%;
}

.left-title .btn{
  bottom: -0%;
  color: #0c2340;
  font-size: 20px;
  right: 10px;
}

.line-big{
  width: 5rem;
  height: 5px;
  padding: 0px 10px;
  background-color: #ac9444;
}

.left-title h1{
  padding-left: 10px;
}

.right-title{
  width: 100%;
  justify-items: center;
}
.right-title .img{
  overflow: hidden;
}

.img img{
  width: 100%;
}
.womeWhoInspire{
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
  font-family: 'Times New Roman', Times, serif;
}
.womeWhoInspire .leftPart{
  width: 40%;
  transition: 0.5s;
}
/* . */
.womeWhoInspire .leftPart img{
  width: 100%;
}
.womeWhoInspire .leftPart h2{
  font-size: 30px;
  color: rgb(26, 26, 59);
  font-weight: normal;
}
.womeWhoInspire .leftPart div{
  margin: 1em 2em;
}
.womeWhoInspire .rightPart{
  width: 50%;
}
.womeWhoInspire .rightPart div:hover{
  background-color: #b9cce0;
  box-shadow: 2px 0px 5px black;
  transform: scale(1.02);
}
.womeWhoInspire .leftPart:hover{
  background-color: #b9cce0;
  box-shadow: 2px 0px 5px black;
  transform: scale(1.01);
}
.womeWhoInspire .rightPart div{
  margin: 4em 0px;
  width: 90%;
  padding: 10px;
  transition: 0.2s;
}
.womeWhoInspire  h4{
  color: rgb(97, 97, 97);
  font-weight: normal;
}
.womeWhoInspire .rightPart div h3{
  font-size: 30px;
  color: rgb(26, 26, 59);
  font-weight: normal;
}
.blueDiv{
  background: #0c2340;
  margin-top: 20vh;
}
.blueDiv .theOpportunity{
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 10vh;
}
.theOpportunity .imagePart{
  width: 55%;
}
.theOpportunity div{
  width: 40%;
  /* margin-top: 20vh; */
}
.theOpportunity div img{
  width: 100%;
  margin-top: -1em;
}
.theOpportunity div h3{
  color: rgb(189, 186, 186);
  margin-bottom: 10px;
}
.theOpportunity div h2{
  margin-bottom: 20px;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
}
.theOpportunity .secondChild{
  margin: 10vh 5%;
  position: relative;

}
.theOpportunity .secondChild div{
  margin-top: 5vh;
  transition: 0.5s;
  /* width: 10em; */
  padding: 15px 10px;
  float: right;
  margin-right: 2em;
  border-radius: 10px;
}
.theOpportunity .secondChild div:hover{
  background: rgba(0, 63, 236, 0.301);
  font-size: 16.5px;
  /* width: 10em; */
}
.theUniversityNews{
  margin:25vh 2em;
  
}
.theUniversityNews h3{
  color: rgb(139, 139, 139);
  margin-bottom: 10px;
}
.theUniversityNews h2{
  margin-bottom: 20px;
  font-size: 40px;
  color: rgb(26, 26, 59);
  font-family: 'Times New Roman', Times, serif;
}

.theUniversityNews button{
  border: none;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
  transition: 1s;
  font-size: 17px;
}
.theUniversityNews button:hover{
  background-color: rgba(135, 207, 235, 0.384);
  transform: scale(1.2);
}
.firstPart {
  position: relative;
  width: 100%;
  height: 60vh;
}
.firstPart .imagePart{
  position: absolute;
  width: 50%;
  top: 8vh;
}
.firstPart .imagePart img{
  width: 100%;
}
.firstPart .contentPart {
  position: absolute;
  width: 70%;
  right: 0;
  background-color: rgb(235, 235, 235);
  z-index: -1;
  height: 70vh;
}
.firstPart .contentPart div{
  width: 65%;
  margin-left: 35%;
  margin-top: 25vh;
}
.centerAndInstitute{
  display: flex;
  width: 80%;
  margin-left: 10%;
}
.centerAndInstitute .first{
  width: 40%;
  margin-bottom: 10vh;
  padding: 10px;
}
.centerAndInstitute .image{
  display: flex;
  justify-content: space-around;
  width: 60%;
  height: 22vh;

}
.centerAndInstitute .image img{
  width: 30%;
  height: 20vh;
}
.centerAndInstitute .image div{
  width: 60%;
}
.centerAndInstitute p{
  /* font-weight: bold; */
  font-size: 22px;
  /* color: rgb(49, 49, 49); */
}
.centerAndInstitute h3{
  color: rgb(99, 97, 97);
}

.centerAndInstitute .first:hover{
  transform: scale(1.01);
  box-shadow: 2px 0px 5px black;
  background-color: rgb(230, 230, 230);
}

.centerAndInstitute .image:hover{
  transform: scale(1.01);
  box-shadow: 2px 0px 5px black;
  background-color: rgb(230, 230, 230);
}

.NotreDameInFocus{
  width: 90%;
  margin-left: 5%;
}
.NotreDameInFocus h3{
  color: rgb(99, 97, 97);
}
.NotreDameInFocus h2{
  margin-bottom: 20px;
  font-size: 40px;
  color: rgb(26, 26, 59);
  font-family: 'Times New Roman', Times, serif;

}
.NotreDameInFocus .cards  div{
  width: 30%;
}
.NotreDameInFocus .cards .card div{
  padding: 20px;
}
.NotreDameInFocus .cards {
  display: flex;
  justify-content: space-around;
}
.NotreDameInFocus .cards div img{
  width: 100%;
}
.NotreDameInFocus .cards div h2{
  font-size: 17px;
  width: 100%;
}
.NotreDameInFocus .cards div div{
  width: 100%;
}
.NotreDameInFocus .cards .card:hover{
  transform: scale(1.01);
  box-shadow: 2px 0px 5px black;
  background-color: rgb(230, 230, 230);
}
.blueDiv2{
  height: 75vh;
}
.blueDiv2 .theOpportunity .secondChild p{
  font-size: 23px;
  line-height: 1cm;
}
.blueDiv2 .theOpportunity .secondChild p:last-child{
  margin-top: 3em;
  font-size: 13px;
  text-align: right;
}
.blueDiv2 img{
  height: 80vh;
}
.NotreDameInMotion{
  width: 90%;
  margin-left: 5%;
  margin-top: 30vh;
  font-family: 'Times New Roman', Times, serif;
}

.NotreDameInMotion div h3{
  color: rgb(99, 97, 97);
}
.NotreDameInMotion div h2{
  margin-bottom: 20px;
  font-size: 40px;
  color: rgb(26, 26, 59);
  font-family: 'Times New Roman', Times, serif;
}
.NotreDameInMotion .cards .cardHolder{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 5vh 2%;
}
.NotreDameInMotion .cards .cardHolder .card{
  display: flex;
  width: 40%;
  padding: 20px;
}
.NotreDameInMotion .cards .cardHolder .card div:last-child:hover{

  transform: scale(1.01);
  box-shadow: 2px 0px 5px black;
  background-color: rgb(230, 230, 230);
}
.NotreDameInMotion .cards .cardHolder .card p{
  font-size: 20px;
}
.NotreDameInMotion .cards .cardHolder .card div:first-child p:last-child{
  font-weight: bold;
  font-size: 25px;
}
.NotreDameInMotion .cards .card div:first-child{
  width: 20%;
}
.NotreDameInMotion .cards .card div:last-child{
  width: 80%;
  padding:1px 10px;
}
.NotreDameInMotion .cards .card div:last-child p:last-child{
  margin-top: 3vh;
}
.bottomNav{
  height: 20vh;
  background: #0c2340;
  position: relative;
}
.bottomNav ul{
  display: flex;
  justify-content: center;
  padding: 3rem;
}
.bottomNav ul li{
  list-style-type: none;
  padding:6px 10px 8px 10px;
  border-radius: 5px;

}
.bottomNav ul li:hover{
  background: rgba(135, 207, 235, 0.295);
}
.topBottoFooter{
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}
.topBottoFooter img{
  width: 200px;
  height: auto;
}
.topBottoFooter .platform{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 22px;
}
.topBottoFooter .platform p{
  margin-right: 15px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
  color: rgb(109, 109, 109);
}

.topBottoFooter .platform p:hover{
  background: rgba(108, 146, 216, 0.349);
}
footer{
  display: flex;
  justify-content: space-between;
  height: 15vh;
  background-color: rgb(209, 207, 207) ;
  margin-top: 7vh;
  width: 100%;
}
footer a{
  color: rgb(71, 71, 71);
  height: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
  /* font-size: 18px; */
}
footer div{
  margin: 0 10%;
  margin-top: 1.5rem;
  width: 40%;
  display: flex;
  justify-content: space-around;
}
footer a:hover{
  background: white;
}
.scrollNav{
  background-color: #0c2340;
  height: 4em;
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
}
.scrollNav div{
  display: flex;
  width: 62%;
  justify-content: space-between;
  float: right;
  margin-right: 10%;
}
.scrollNav li{
  list-style-type: none;
  padding: 1.3rem 25px;
}
.scrollNav li a{
  color: white;
  /* font-size: 17px; */
  height: auto;
}
.scrollNav li:hover{
  background: rgba(135, 207, 235, 0.199);
}
.scrollNav li:first-child{
  background: rgba(135, 207, 235, 0.199);
}


